<h3>Friends</h3>

<% @friends.each do |friend| %>
  <h4><%= link_to friend.name, user_url(friend) %></h4>
<% end %>

<h4>New Friend</h4>

<%= form_for @user, :url => friends_url do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.submit "Friend" %>
<% end %>