<img src='<%= user.escape('profile_pic') %>' width="200"
     class="img-thumbnail"><br>

<h3><%= user.escape('name') %></h3>

<% if(user.id == FacebookClone.currentUser.id) { %>
  <form id="upload-picture" enctype="multipart/form-data">
    <input class="btn btn-default btn-sm" type="file" name="user[profile_pic]">
  </form><br>
<% } else { %>
  <% if(user.get('friends')) { %>

    <div class="panel panel-default">
      <div class="panel-body">
        You are the best of buddies!
      </div>
    </div>

  <% } else if(user.get('requested')) { %>
    <div class="well">
      Friend Request Pending
    </div>
  <% } else { %>
    <button class="request-friend btn btn-default btn-sm">
      Send Friend Request
    </button><br><br>
  <% } %>
<% } %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic Info</h3>
  </div>
  <div class="panel-body">
    Gender: <%= user.escape('gender') %><br>
    Birthday: <%= user.escape('birthday') %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Info</h3>
  </div>
  <div class="panel-body">
    Email: <%= user.escape('email') %><br>
  </div>
</div>