<h3>Feed</h3>

<form id="new-post">
  <textarea cols="40" rows="3"
            placeholder="What's on your mind?"
            name="post[body]"></textarea><br>
  <button>Update Status</button>
</form>
<br>

<% posts.forEach(function(post) { %>
  <b>
    <% var user = post.get('user'); %>
    <a href="#users/<%= user.escape('id') %>">
      <%= user.escape('name') %></a>
  </b><br>
  <%= post.escape('body') %><br><br>

  <% post.get('comments').each(function(comment) { %>
    <li>
      <% var user = comment.get('user'); %>
      <a href="#users/<%= user.escape('id') %>">
        <%= user.escape('name') %></a>:<br>
      <%= comment.escape('body') %><br>
      <br>
  <% }); %>
  
  <form class="new-comment">
    <input type="hidden"
           name="comment[post_id]"
           value="<%= post.id %>">
    <textarea cols="30" rows="2"
              placeholder="comment..."
              name="comment[body]"></textarea><br>
    <button>Comment</button>
  </form>
  <br><br>
<% }); %>
