<h3>Posts</h3>

<% posts.forEach(function(post) { %>
  <b>
    <%= post.get('user').escape('name') %> - <%= post.escape('title') %>
  </b><br>
  <%= post.escape('body') %><br><br>

  <% post.get('comments').each(function(comment) { %>
    <li>
      <b><%= comment.get('user').escape('name') %></b>:<br>
      <%= comment.escape('body') %><br>
      <br>
  <% }); %>
  
  <form class="new-comment">
    <input type="hidden"
           name="comment[post_id]"
           value="<%= post.id %>">
    <textarea cols="30" rows="2"
              placeholder="comment..."
              name="comment[body]"></textarea><br>
    <button>Comment</button>
  </form>
  <br><br>
<% }); %>

<h4>New Post</h4>

<form id="new-post">
  <input type="text"
         placeholder="title..."
         name="post[title]"><br>
  <textarea cols="30" rows="4"
            placeholder="body..."
            name="post[body]"></textarea><br>
  <button>Post</button>
</form>
