<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootswatch/3.0.3/cosmo/bootstrap.min.css' %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-bar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpenCommunicate</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
          <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input id="search-bar"
                       type="text" 
                       class="form-control" 
                       placeholder="Search">
              </div>
            </form>
          </li>
          <li><%= link_to "Friends", "#friends" %>
          <li><%= link_to "Messages", "#messages" %>
          <li><%= link_to "Feed", "#" %>

          <li><a href="#" id="find-friends-button">Find Friends</a>

          <li><%= link_to current_user.name, "#users/#{current_user.id}" %>
          <li><%= link_to "Sign Out", session_url, :method => "delete" %>
        <% else %>
          <li><%= link_to "Sign In", new_session_url %>
          <li><%= link_to "Sign Up", new_user_url, class: "btn-link" %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="row">

  <%= yield %>

  <% flash[:errors] && flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>

</div>

</body>
</html>
