<!DOCTYPE html>
<html>
<head>
  <title>FacebookClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.0.3/cosmo/bootstrap.min.css" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-bar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OpenCommunicate</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><a href="#friends">Friends</a>
          <li><a href="#friend_requests">Friend Requests</a>
          <li><a href="#messages">Messages</a>
          <li><a href="#">Feed</a>
          <li><a href="#">Find Friends</a>
          <li><a href="#users/<%= current_user.id %>"><%= current_user.name %></a>
          <li><%= link_to "Sign Out", session_url, :method => "delete" %>
        <% else %>
          <li><%= link_to "Sign In", new_session_url %>
          <li><%= link_to "Sign Up", new_user_url, class: "btn-link" %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="row">

  <%= yield %>

  <% flash[:errors] && flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>

</div>

</body>
</html>
